<div class="d-flex flex-nowrap">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img src="../../../../assets/hoot.png" alt="img comercio" width="32" height="32" class="rounded-circle me-2">
      <span class="fs-4">#nombrecomercio</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <i class="bi bi-house-door"></i>
          Inicio
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <i class="bi bi-cart4"></i>
          Venta
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <i class="bi bi-trash3"></i>
          Ingresar Merma
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <i class="bi bi-list-check"></i>
          Inventario
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <i class="bi bi-building-gear"></i>
          Bodega
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown  mt-20">
      <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="../../../../assets/Perfiles/wuapo.jpg" alt="avatar" width="32" height="32" class="rounded-circle me-2">
        <strong> Perfil</strong>
      </a>
      <ul class="dropdown-menu text-small">
        <li><a class="dropdown-item" href="#">Perfil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Salir</a></li>
      </ul>
    </div>
  </div>
</div>




